<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot ajax example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
          
     <!--      <script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="/connplantsTest/src/main/resources/static/js/main.js"></script> -->
          
          <script type="text/javascript">
		
			function selectOrder(user){
				
		      
				alert("I m about to call ajax... Hold tight and put your seat belts on!!");
				//alert("Hello " + user.username.innerHTML);
			    document.getElementById("feedback").innerHTML = "<h4>Ajax Response</h4>";
				divObj = document.getElementById("username");
				alert ( "username Text = "+divObj.innerText );
				alert ( "username HTML = "+divObj.innerHTML );
				
			}
		</script>
          
</head>
<body>



<div  >

    <div >
        <h1>Spring Boot AJAX Example</h1>

        <div id="feedback"></div>




        <form  id="search-form">
            <div >
                <label >Username</label>
                <div >
                    <input type="text"  id="username"/>
                </div>
            </div>

            <div >
                <div>
                    <button  id="bth-search" onclick="selectOrder(this);"">Search
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>




</body>
</html>