<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Production Analysis - View</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet"
href="https://code.highcharts.com/css/highcharts.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

$(function () {
    var chart;
    $(document).ready(function() {
   
        var colors = Highcharts.getOptions().colors,
            categories = ['MSIE','Firefox'],
            name = ['Browser brands','Another'],
            data = [{
                    y: 55.11,
                    color: colors[0],
                    drilldown: {
                        categories: ['MSIE 6.0', 'MSIE 7.0', 'MSIE 8.0', 'MSIE 9.0'],
                        series: [{
                            type: 'column',
                            name: 'MSIE versions 2000',
                            data: [10.85, 7.35, 33.06, 2.81],
                            color: colors[0]
                        },{
                            type: 'column',
                            name: 'MSIE versions 2010',
                            data: [1, 5, 10, 15],
                            color: colors[0]
                        }]
                    }
                }, {
                    y: 23,
                    color: colors[1],
                    drilldown: {
                       
                        categories: ['Firefox 2.0', 'Firefox 3.0', 'Firefox 3.5', 'Firefox 3.6', 'Firefox 4.0'],
                        series: [{
                            type: 'column',
                            name: 'FF versions 2000',
                            data: [20.85, 17.35, 13.06, 25.81],
                            color: colors[0]
                        },{
                            type: 'column',
                            name: 'FF versions 2010',
                            data: [11, 52, 14, 35],
                            color: colors[0]
                        }]
                    }
                }]
;
   
        function setChart(name, categories, data, color, type) {
            var len = chart.series.length;
            chart.xAxis[0].setCategories(categories);
            for(var i = 0; i < len; i++){
                console.log(chart.series.length);
                chart.series[0].remove();
            }
            console.log('a');
            if(data.series){
                for(var i = 0; i < data.series.length; i ++ ){
                    chart.addSeries({
                        name: data.series[i].name,
                        data: data.series[i].data,
                        type: data.series[i].type,
                        color: data.series[i].color || 'white'
                    });
                }
            } else {
                    chart.addSeries({
                        name: name,
                        data: data,
                        type: type,
                        color: color || 'white'
                    });
            }
        }
   
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: 'Browser market share, April, 2011'
            },
            subtitle: {
                text: 'Click the columns to view versions. Click again to view brands.'
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                title: {
                    text: 'Total percent market share'
                }
            },
            plotOptions: {
                column: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                var drilldown = this.drilldown;
                                if (drilldown) { // drill down
                                    setChart(null, drilldown.categories, drilldown, drilldown.type);
                                } else { // restore
                                    setChart(name, categories, data, 'column');
                                }
                            }
                        }
                    },
                    dataLabels: {
                        enabled: true
                 
                    }
                },
                spline: {
                    cursor: 'pointer',
                    point: {
                        events: {
                            click: function() {
                                var drilldown = this.drilldown;
                                if (drilldown) { // drill down
                                    setChart(null, drilldown.categories, drilldown, drilldown.type);
                                } else { // restore
                                    setChart(name, categories, data, 'column');
                                }
                            }
                        }
                    },
                    dataLabels: {
                        enabled: false
                    }
                }
            },
            tooltip: {
                formatter: function() {
                    var point = this.point,
                        s = this.x +':<b>'+ this.y +'% market share</b><br/>';
                    if (point.drilldown) {
                        s += 'Click to view '+ point.category +' versions';
                    } else {
                        s += 'Click to return to browser brands';
                    }
                    return s;
                }
            },
            series: [{
                name: name,
                data: data,
                color: 'white'
            }],
            exporting: {
                enabled: true
            }
        });
    });
   
});
       
    /*]]>*/
    </script>


</head>
<body>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

</body>
</html>