<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot Test example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
          
          <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
          
     <!--      <script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="/connplantsTest/src/main/resources/static/js/main.js"></script> -->
          
          <script type="text/javascript">
		
			function selectOrder(user){
				
		      
				alert("I m about to call ajax... Hold tight and put your seat belts on!!");
				//alert("Hello " + user.username.innerHTML);
			    //document.getElementById("feedback").innerHTML = "<h4>Ajax Response</h4>";
				
				var str = $("#username").val();
		        alert("username 3 = "+str);
		        
		        
		        var search = {}
		        search["username"] = str;
		        
		        $.ajax({
		            type: "POST",
		            contentType: "application/json",
		            url: "/api/search",
		            data: JSON.stringify(search),
		            dataType: 'json',
		            success: function (data) {
		            	 var json = JSON.stringify(data, null, 4);
		            	$('#feedback').html(json);
		            	
		            	var myObj, x;
		            	
		            	myObj = JSON.parse(json);
		            	
		            	x += "<h2>" + myObj.result[0].username + "</h2>";
		            	   x += "<h2>" + myObj.result[0].password + "</h2>";
		            	
		            	document.getElementById("feedback1").innerHTML = x;
		            	
		            	/*$("#scheduleTable").find("tr:not(:first)").remove();
                        var trHTML = '';
                        var obj = $.parseJSON(data.responseText);
                        for (var i = 0; i < obj.length; i++) {
                            trHTML += '<tr><td><label>' + obj[i].username + '</label></td><td>' + obj[i].password + '</td></tr>';
                        }
                        $("#scheduleTable tbody").append(trHTML);*/
	                    }
	                
		        });
		        
				
			}
		</script>
          
</head>
<body>



<div  >

    <div >
        <h1>Spring Boot AJAX Example</h1>

        <div id="feedback"></div>

<div id="feedback1"></div>



        
            <div >
                <label >Username</label>
                <div >
                    <input type="text"  id="username"/>
                </div>
            </div>

            <div >
                <div>
                    <button  id="bth-search" onclick="selectOrder(this);"">Search
                    </button>
                </div>
            </div>
  

    </div>
    
    
    <div  style="width:100%">
		
<table id="scheduleTable" align="left" class="order-table" style="width: 50%">
        <thead>
        <tr>
            <th align="left">Username</th>
            <th align="left">Password</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

	</div>

</div>




</body>
</html>